.filter-container {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.filter-item {
    min-width: 120px;
}

.filter-btn {
    align-items:flex-end;
    color: #ffffff;
    width: 200px;
}